 <h1>Olá HandleBars</h1>
 <p>O nome do usuário é: {{user.name}} {{user.surname}}, e ele tem {{user.age}} anos</p>
 

{{#if approved}}
<p>Parabéns, o seu cadastro foi aprovado</p>
{{else}}
<p>O seu cadastro necessita de aprovação para acesso total do sistema</p>

{{/if}}



 {{#if auth}}
    <p>
        Você está autenticado,<a href="/dashboard"> clique</a> aqui para acessar a área de membros
    </p>

 {{/if}}


