<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Contato</title>
</head>
<body>
    <h1 class="banner">Entre em contato conosco !</h1>

    <div class="bloco_principal">

        <div class="formulario">
            <div class="campos">
                <input class="campo" type="text" placeholder="insira o seu email">
            </div>
            <div class="campos">
                <input class="campo" type="text" placeholder="nome">
            </div>
            <div class="campos">
                <input class="campo" type="text" placeholder="senha">
            </div>
            <div class="campos">
                <input type="submit" value="Cadastrar">
            </div>

        </div>



        
    </div>



</body>
</html>